#category{
    text-align: center;
}
#block-views-taxonomy-test-block :first-child{
    text-align: center;
}
#block-views-taxonomy-test-block .view-content{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
#block-views-taxonomy-test-block .field-content{
margin-left: 4px;
margin-right: 4px;
}
#block-views-taxonomy-test-block .view-content div:not(:last-child):after{
    content:"|";
}
